
.about-section {
    color: white;
    min-height: 100vh;
    background-image: url('../img/pawel-czerwinski-0vEKP0bl7qc-unsplash.jpg');
}

nav {
    background-color: rgba(0, 0, 0, 0.31);
}

main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.about-us {
    
    min-height: fit-content;
    width: 70%;
    display: flex;
}

.our-names {
    text-align: center;
}

.image-about {
    flex: 1;
    background-color: rgb(178, 0, 30);
}

.image-about img {
    width: 100%;
}

.text-about {
    background-color: rgba(0, 0, 0, 0.492);
    flex: 2;
    padding: 30px;
    font-family: 'outfit', sans-serif;
}

.btn-icon {
    border-radius: 50%;
    font-size: 30px;
    color: #ffffff; /* Dark icon color */
    
    transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}


.btn-github:hover {
    color: #4f43ab;
    
}



.btn-icon:active {
    border: none;
}